button {
  --bs-color: rgba(51, 51, 51, 0.2);
  /* Layout */

  /* Spacing */
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;

  /* Typography */
  font-weight: 500;
  font-size: 0.875rem;
  font-family: "Noto Sans JP", sans-serif;
  /* Colors */
  background-color: var(--c-neutral-400);

  /* Others */
  border: transparent;
  border-radius: var(--br);
  box-shadow: 0px 2px 3px 0px var(--bs-color);
  cursor: pointer;
}

button:disabled {
  cursor: none;
  color: var(--c-neutral-500);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  pointer-events: none;
}

button:disabled > .btn__text {
  display: none;
}

button:disabled::after {
  content: "Disabled";
}

.btn__text {
  display: flex;
  gap: 0.5rem;
}

.btn-active {
  background-color: var(--c-neutral-600);
}

.btn--outline {
  --color: #3d5afe;
  background-color: transparent;
  color: var(--color);
  border: 1px solid var(--color);
  box-shadow: none;
}

.btn--outline:focus,
.btn--outline:hover,
.btn--outline-active {
  color: var(--color);
  background-color: var(--c-primary-200);
}

.btn--text {
  background-color: transparent;
  color: #3d5afe;
  border: none;
  box-shadow: none;
}

.btn--text-active,
.btn--text:focus,
.btn--text:active {
  background-color: rgba(41, 98, 255, 0.1);
  color: #3d5afe;
}

.btn--disabled-shadow {
  box-shadow: none;
}

/* size */
.btn--small {
  padding: 0.25rem 0.75rem;
}
.btn--medium {
  padding: 0.5rem 1rem;
}
.btn--large {
  padding: 0.6875rem 1.375rem;
}

/* color */
.btn--default {
  background-color: var(--c-neutral-400);
}

.btn--default:focus,
.btn--default:hover {
  color: var(--c-neutral-900);
  background-color: var(--c-neutral-600);
}

.btn--primary,
.btn--secondary,
.btn--danger,
.btn--primary-active,
.btn--secondary-active,
.btn--danger-active {
  color: var(--c-neutral-100);
}

.btn--primary {
  background-color: var(--c-primary-400);
}

.btn--primary-active,
.btn--primary:hover,
.btn--primary:active {
  background-color: var(--c-primary-500);
}

.btn--secondary {
  background-color: var(--c-neutral-700);
}

.btn--secondary-active,
.btn--secondary:hover,
.btn--secondary:active {
  background-color: var(--c-neutral-800);
}

.btn--danger {
  background-color: var(--c-danger-400);
}

.btn--danger-active,
.btn--danger:hover,
.btn--danger:active {
  background-color: var(--c-danger-500);
}
